@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* фон регистрации */
.registration
{
    position: static;
    margin-top:0px;
    height: 754px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url("https://lh3.googleusercontent.com/LE42d4TlpaBCnGvkT6DeWLF4qHJ6tRJdPLXBEvUhalDvp3fTue6CpwEoH496mXeqUDEH1Vz91Skv9mF4kQ5gCTEXVVDoeTbkpALKH47QXIWPCP2qpBdD3pIw0ww3hGHHKTGMy9K1Gw=w2400?source=screenshot.guru") no-repeat center center;
    background-size: cover;
}
/* Окно регистрации */
.content-registration
{
    position: absolute;
    width: 380px;
    height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 19px;
    left:50%;
    transform:translate( -50%);
    padding: 40px 30px;
}
/* Тайтл окна регистрации */
.title-content-registration 
{
    text-align: center;
    width: 320px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

/* Все остальное после тайтла общее настройки */
.field-content-registration
{
    margin-top: 10px;
}
/* Настройки окон вводы данных пользователем */
.data-entry-field
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}
/* Настройки выбора пола */
.registration-checkbox 
{
    margin-top: 10px;
    margin-left: 0px;
    
}

.registration-checkbox-sex-man
{
    float: right;
    margin-top: 0px;
    margin-left:10px ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}
.registration-checkbox-sex-woman
{
    float: right;
    margin-top: 0px;
    margin-left:10px ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}
.registration-checkbox-one
{
    position: static;
    display: inline-block;
    width: 100px;
    height: 24px;
}

.registration-checkbox-two
{
    margin-left: 20px;
    position: static;
    display: inline-block;

    width: 105px;
    height: 24px;
}
/* Настройки кружков выбора пола */
input[type='radio'] 
{
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin-left: 0px;
    padding: 0px;
}
input[type='radio'] + a
{
    float: right;
    margin-top: 0px;
    margin-left:10px ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.5);
}
input[type='radio']::before 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #BC9CFF;
    border-radius: 10px;
}


input[type='radio']:checked::after 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: translate(-50%, -50%);
    visibility: visible;
}

/* Настройки h2 окна регистрации */
.h2-content-registration
{
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}
/* Настройки отступа необычного email */
.field-content-registration-nonfiction
{
    margin-top: -5px;
    
}
/* Получать спецпредложения текст*/
.content-registration-specialoffers
{
    float: right;
    margin-top: 8px;
    margin-right: 60px;
    border: 0px;
    width: 210px;
    height: 24px;   
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

/*Это все для красивого свитч хотя наверное проще какой нибудь плагин я не знаю ауауауа*/
.switch 
{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 40px;
    height: 20px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider 
{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before 
{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round 
{
    border-radius: 34px;
}
.slider.round:before 
{
    border-radius: 50%;
}
/*Настройки кнопки регистрации*/
.button-registration
{
    margin-top: 20px;
}
.button-registration-base
{
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
}
/*Настройки иконки в кнопке регистрации*/
.icons-registration
{
    width: 44px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    margin-top: -44px;
    margin-left: 276px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around; 
}
/*Настройки Забыли пароль*/
.registration-login
{
    margin-top: 30px;
}
.h3-content-registration
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-top: 12px;
    position: relative;
    float: left;
}
/*Настройки кнопки войти*/
.button-registration-base-two
{
    position: relative;
    float: right;
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: 2px solid;
    border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    outline: none;
}
