@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.registration-page_position-standart {
    position: static;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.registration-page_theme-standart {
    height: 754px;
    width: 100%;
    background: url("https://lh3.googleusercontent.com/LE42d4TlpaBCnGvkT6DeWLF4qHJ6tRJdPLXBEvUhalDvp3fTue6CpwEoH496mXeqUDEH1Vz91Skv9mF4kQ5gCTEXVVDoeTbkpALKH47QXIWPCP2qpBdD3pIw0ww3hGHHKTGMy9K1Gw=w2400?source=screenshot.guru") no-repeat center center;
    background-size: cover;
}


/* Окно регистрации */

.registration-page__content_position-standart {
    position: absolute;
    margin-top: 19px;
    left: 50%;
    transform: translate( -50%);
}

.registration-page__content_theme-standart {
    width: 380px;
    height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px;
}

.registration-page__content__title_position-standart {}

.registration-page__content__title_theme-standart {
    text-align: center;
    width: 320px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}

.registration-page__content__field-radio_position-standart {
    margin-top: 10px;
    margin-left: 0px;
}


/* Все остальное после тайтла общее настройки */

.registration-page__content__field_position-standart {
    margin-top: 10px;
}


/* Настройки окон вводы данных пользователем */

.registration-page__content__field-block_position-standart {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


/* Настройки h2 окна регистрации */

.registration-page__content__field-h1_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}

.registration-page__content__field-h1_position-standart {
    margin-top: 20px;
}


/* Настройки отступа необычного email */

.field-content-registration-nonfiction {
    margin-top: -5px;
}


/* Получать спецпредложения текст*/

.registration-page__content__field-h2_theme-standart {
    border: 0px;
    width: 210px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.registration-page__content__field-h2_position-standart {
    float: right;
    margin-top: 8px;
    margin-right: 60px;
}


/*Это все для красивого свитч хотя наверное проще какой нибудь плагин я не знаю ауауауа*/

.switch {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 40px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*Настройки кнопки регистрации*/

.button-registration {
    margin-top: 20px;
}

.button-registration-base {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
}


/*Настройки иконки в кнопке регистрации*/

.icons-registration {
    width: 44px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    margin-top: -44px;
    margin-left: 276px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}


/*Настройки Забыли пароль*/

.registration-login {
    margin-top: 30px;
}

.registration-page__content__field-h3_position-standart {
    margin-top: 12px;
    position: relative;
    float: left;
}

.registration-page__content__field-h3_theme-standart {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}


/*Настройки кнопки войти*/

.button-registration-base-two {
    position: relative;
    float: right;
    width: 99px;
    height: 44px;
    background: none;
    border-radius: 22px;
    border: 2px solid;
    border: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
    outline: none;
}