@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Основные настройки header */
.header
{
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
/* Основные настройки logo */
.LogoPictures
{
position: absolute;
width: 105.69px;
height: 40px;
left: 140px;
top: 15px;
}
/* Основные настройки nav */
.nav
{
position: absolute;
float: right;

list-style-type: none;

width: 446px;
height: 21px;
left: 531px;
top: 26px;
}
/*Настройки a элементов nav */
.nav a
{
    
margin-right: 20px;
margin-top: 0px;

list-style-type: none;
text-decoration: none;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;

/* Dark 50% */

color: rgba(31, 32, 65, 0.5);
}
/*Настройки i элементов nav */
.nav i
{
    

    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
}

